<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user" class="org.xiao.rain.vo.user.UserVo" autowire="byName">
        <property name="vusername" value="肖金龙"/>
        <property name="vusercode" value="xiaojl"/>
    </bean>
</beans>